[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "wheels/sphinx/"
verify_ssl = true
name = ""

[[source]]
url = "wheels/lint/"
verify_ssl = true
name = ""

[[source]]
url = "wheels/"
verify_ssl = true
name = ""

[dev-packages]

[packages]
docutils = "*"
"sphinxcontrib.yt" = {editable = true, path = "."}
nbformat = "*"

[semver]
jupyter = "*"
semver = "*"

[lint]
autopep8 = "*"
black = "*"
flake8 = "*"
pydocstyle = "*"
pylint = "*"

[docs]
myst-nb = "*"
myst-parser = "*"
pydata-sphinx-theme = "*"
sphinx = "*"
sphinx-autobuild = "*"
jupytext = "*"
